body {
    background-color: #21262C;
    font-family: "Inter";
}

h1 {
    color: #FEFEFE;
    font-size: 50px;
}

.title {
    display: flex;
    align-items: center;
    height: 50px;
    margin: 25px;
}

.container {
    width: 100%;
}

.label {
    margin: 0 25px;
    background: #FF9A23;
    padding: 0px 15px;
    border-radius: 15px;
    font-size: 25px;
}

h4 {
    font-size: 25px;
}